body {
    margin: auto;
    box-sizing: border-box;
    background-color: #ffffff;
}

.header {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    position: relative;
}

.header-top {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    width: 400px;
    min-width: 400px;
    height: 100%;
    margin: auto;
    align-content: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 0px;
}

.header-ad {
    width: 280px;
    height: 100%;
    position: absolute;
    left: 0;
}

.header-items{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 110px;
}

.header-items > a {
    padding-right: 38px;
    font-family: sans-serif;
    font-size: 15px;
}

.header-items > a:hover {
    cursor: pointer;
    color: #767676;
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-items {
    font-family: sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-items > a {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-sub {
    background-color: #0787ca;
    color: white;
    border-style: none;
    padding: 6px 28px;
    font-size: 14px;
}

.button-sub {
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
    color: #767676;
}

.spotlight {
    width: 65%;
    margin: auto;
    display: flex;
    margin-top: 30px;
}

.spotlight-centre {
    width: 50%;
    margin: auto;
    padding: 0 30px;
}

.spotlight-left {
    width: 25%;
    height: 500px;
    padding: 0 30px;
    border-right: 1px solid #e5e5e5;
}

.spotlight-right {
    width: 25%;
    height: 500px;
    border-left: 1px solid #e5e5e5;
    padding: 0 30px;
}

.spotlight-item-reg {
    overflow: hidden;
    line-height: 24px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

.last {
    border: 0;
}

.spotlight-item-reg > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item-section-text {
    
    font-family: sans-serif;
    color: #db3334;
    font-size: 14px;
    line-height: 1;
}

.item-title-text {
    font-family: serif;
    font-weight: 600;
}

.item-author-text {
    
    font-family: sans-serif;
    font-weight: 900;
}

.item-description {
    
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.spotlight-item-large {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.spotlight-item-large > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.spotlight-item-wide {
    position: relative;
    margin-bottom: 60px
}

.spotlight-item-wide > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    object-fit: cover;
    height: 150px;
}

.spotlight-item-small {
    display: flex;
    margin-top: 1px solid #e5e5e5;
}

.spotlight-item-small-content {
    width: 68%;
}

.spotlight-item-small > img {
    width: 40%;
    height: 100px;
    object-fit: cover;
}



