@media only screen and (min-width: 1025px) {
    
    .header-med {
        display: none;
    }
    
}

body {
    margin: auto;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    box-sizing: border-box;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

:root {
    /*  
    font 1 - section, title
    font 2 - body, description
    font 3 - author
    font 4 - main heading, sec heading, banners
    */
    
    --font1: komet, sans-serif;
    --font2: roboto, sans-serif;
    --font3: bebas-neue, sans-serif;
    --font4: bebas-neue, sans-serif;
}

/* ------------------------------- */
/* headers, titles & text          */
/* ------------------------------- */

/* item text */

.item-title-text {
    font-family: var(--font1);
    font-weight: 500;
    font-style: normal;
}

.item-title-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hero-title {
    font-size: 2.05em;
    line-height: 1;
}

.item-section-text {
    font-family: var(--font1);
    font-weight: 500;
    color: #db3334;
    font-size: 14px;
    line-height: 0.5;
    margin-top: 20px;
}

.item-section-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.item-desc-text {
    font-family: var(--font2);
    font-size: 18px;
    font-weight: 300;
}

.item-author-text {
    font-family: var(--font3);
    font-weight: 900;
}

/* headers */

.main-heading {
    font-weight: 200;
    font-style: oblique;
}

.secondary-heading {
    font-family: var(--font4);
}

.banner-text {
    font-family: var(--font4);
}

/* links */

.link {
    color: #59b0db;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* ------------------------------- */
/* header                          */
/* ------------------------------- */

.header {
    position: fixed;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    z-index: 1;
}

.header-blank {
    height: 230px;
}

.header-top {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    width: 400px;
    height: 100%;
    margin: auto;
    align-content: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 0px;
    transition: width 0.5s; 
}

.header-ad {
    width: 280px;
    height: 100%;
    position: absolute;
    left: 0;
}

.sub-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sub-banner > h2 { 
    font-weight: 100;
    font-size: 20px;
}

.header-items{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20px;
}

.header-items > a {
    padding-right: 38px;
    font-family: sans-serif;
    font-size: 15px;
}

.header-items > a:hover {
    cursor: pointer;
    color: #767676;
}

/* ------------------------------- */
/* nav menu                        */
/* ------------------------------- */

.header-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.menu-items {
    font-family: sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-items > a {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-sub {
    background-color: #0787ca;
    color: white;
    border-style: none;
    padding: 6px 28px;
    font-size: 14px;
}

.button-sub {
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
    color: #767676;
}

/* ------------------------------- */
/* hero section                    */
/* ------------------------------- */

.main-content-container {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    max-width: 1220px;
}

.hero-section {
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero-centre {
    width: 60%;
    margin: auto;
    padding: 0 30px;
}

.hero-left {
    width: 25%;
    border-right: 1px solid #e5e5e5;
    padding-right: 30px;
}

.hero-right {
    width: 25%;
    border-left: 1px solid #e5e5e5;
    padding-left: 30px;
}

.hero-item-reg {
    overflow: hidden;
    line-height: 24px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

.last {
    border: 0;
}

.hero-item-reg > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hero-item-reg > img:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hero-item-large {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.hero-item-large > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero-item-large > img:hover {
    cursor: pointer;
}

.hero-item-wide {
    display: flex;
    margin-bottom: 60px;
}

.hero-item-wide-content {
    width: 60%;
}

.hero-item-wide > img {
    width: 40%;
    object-fit: cover;
    height: 150px;
}

.hero-item-wide > img:hover {
    cursor: pointer;
}


.hero-item-small {
    display: flex;
    border-top: 1px solid #e5e5e5;
    padding-top: 25px;
    margin-bottom: 10px;
}

.hero-item-small > img{
    cursor: pointer;
}

.hero-item-small-content {
    width: 68%;
    padding-right: 10px;
}

.hero-item-small > img {
    width: 40%;
    height: 100px;
    object-fit: cover;
}

.item-title-text-thin {
    font-weight: 100;
}

.item-title-text-thin:hover {
    cursor: pointer;
    text-decoration: underline;
}



/* ------------------------------- */
/* spotlight section               */
/* ------------------------------- */



.spot-secondary {
    width: 100%;
    margin-top: 0;
}

.spot-secondary-left {
    width: 68%;
    padding-right: 20px;
}

.spot-secondary-right {
    width: 32%;
    border-left: 1px solid #e5e5e5;
    margin: 30px 0px;
}

.heading-underline {
    border-bottom: 1px solid #e5e5e5;
    width: 97%;
    padding-bottom: 20px;
}

.spot-secondary-items {
    width: 100%;
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
}

.spot-secondary-item > h2 {
    font-size: 26px;
    text-transform: uppercase;
}

.spot-secondary-item {
    width: 50%;
    flex: 0 0 45%;
}

.spot-secondary-item > p {
    width: 100%;
}

.spot-secondary-item:not(:last-child):not(:nth-last-child(2))::after {
    border-bottom: 1px solid #e5e5e5;
    bottom: : 0;
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 20%;
}

.spot-secondary-item:nth-child(even) {
    padding-left: 30px;
    border-left: 1px solid #e5e5e5;
}

.spot-secondary-item:nth-child(odd) {
    padding-right: 30px;
}

.spot-secondary-item > img {
    object-fit: contain;
    width: 25%;
    margin: 0 0 20px 20px;
    float: right;
}


.BLOCK {
    height: 1000px;
}

/* ------------------------------- */
/* latest section                  */
/* ------------------------------- */

.latest-header {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin: auto;
}

.latest-section {
    width: 80%;
    margin: auto;
}

.latest-item {
    margin-top: 40px;
    display: flex;
}

.latest-item-img {
    object-fit: cover;
    width: 304px;
    height: 228px;
}

.latest-item-content {
    margin-left:25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.latest-item-content > h2 {
    font-size: 30px;
}

.content-button {
    color: #888888;
    width: 330px;
    margin: auto;
    text-align: center;
    border: 1px solid #888888;
    margin-top: 40px;
    line-height: 0.8;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.content-button:hover {
    background-color: #0787ca;
    cursor: pointer;
    color: white;
    border: 1px #888888 solid;
}

.news-banner > img {
    margin-right: 20px;
}

/* ------------------------------- */
/* popular section                 */
/* ------------------------------- */

.pop-section {
    width: 100%;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

.pop-left {
    position: relative;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.pop-left-item {
    display: flex;
    margin-bottom: 40px;
    padding-right: 40px;
}
.pop-left-item-content {
    padding-top: 10px;
}

.pop-left-item-img {
    background-color: #f5f5f5;
    border-radius: 80px;
    margin-right: 30px;
    height: 130px;
}

.pop-heading {
    font-size: 33px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
    font-style: normal;
}

.pop-item-title {
    font-size: 20px;
}

.link-author {
    font-weight: 900;
    font-family: sans-serif;
    font-size: 14px;
}


.pop-right {
    position: relative;
    width: 50%;
    padding-left: 40px;
    border-left: 1px solid #e5e5e5;
}

.pop-right-item {
    margin-bottom: 58px;
}

.pop-item-section-text {
    font-size: 14px;
    padding-left: 20px;
}

.pop-item-author-text {
    font-size: 15px;
    padding-left: 20px;
}

.left-button {
    width: 80%;
    position: absolute;
    bottom: 0;
}

.right-button {
    width: 60%;
    position: absolute;
    bottom: 0;
}

.pop-last {
    margin-bottom: 120px;
}

.left-button:hover {
    background-color: #0787ca;
    cursor: pointer;
    color: white;
    border: 1px #888888 solid;
}

/* ------------------------------- */
/* magazine section                */
/* ------------------------------- */

.magazine-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-style: normal;
}

.magazine-ribbon {
    width: 100%;
    margin: auto;
    display: flex;
}

.magazine-item {
    width: 25%;
    padding-right: 18px;
}

.magazine-img {
    width: 100%;
}

.magazine-img:hover {
    cursor: pointer;
}

.magazine-title {
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

.magazine-button {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 20px;
    margin-bottom: 40px;
}



/* ------------------------------- */
/* ads                             */
/* ------------------------------- */



.ad-wide-centre {
    width: 728px;
    margin: auto;
    height: 90px;
    background-color: #cbcbcb;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ad-tall {
    width: 100%;
    padding-left: 40px;
    margin-top; 20px;
    position: sticky;
    top: 18%;
}

.ad-image-tall {
    width: 80%;
}

.ad-wide-centre-big {
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

.ad-wide-centre-big > img {
    margin: auto;
    display: block;
}

.ad-bottom {
    padding-top: 40px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.ad:hover {
    cursor: pointer;
}

.ad-image-tall:hover {
    cursor: pointer;
}


/* ------------------------------- */
/* footer                          */
/* ------------------------------- */


footer {
    background-color: #171717;
    width: 100%;
    margin-top: 40px;
}

.footer-ribbon {
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
}

.footer-ribbon-item {
    line-height: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-ribbon-item::after {
    content: "\B7";
    font-size: 28px;
    padding-top: 6px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}

.footer-ribbon-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-content {
    max-width: 1000px;
    width: 70%;
    margin: auto;
    display: flex;
    padding-bottom: 100px;
}

.footer-links-container {
    margin-top: 40px;
    column-count: 5;
    width: 100%;
}

.footer-links {
    padding-left: 20px;
    width: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.footer-link-item {
    break-inside: avoid;
    color: white;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.footer-link-item > h4 {
    margin-top: 0;
    font-size: 14px;
}

.footer-link-item > ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    color: #818181;
    font-weight: 700;
    line-height: 1.5;
}

.footer-link-item > ul > li {
    margin-bottom: 5px;
}

.footer-link-item > ul > li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-right {
    display: flex;
    width: 22%;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.social-links {
    width: 100%;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 10px
}

.social-links-icons {
    margin-top: 40px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;;
}

.icon {
    filter: invert(100%);
    height: 32px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.fb {
    filter: brightness(100);
}

.copyright-name {
    width: 100%;
    display: flex;
}

.copyright-name > h4 {
    font-family: atrament-web,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 0;
    margin-bottom: 20px;
    margin-top: 15px;
}

.copyright::before {
    color: #848484;
    content: "Developed by";
    line-height: 0;
    font-family: sans-serif;
    font-size: 12px;
}

.copyright-name > .bradley {
    color: #f7fd49;
    font-weight: 600;
    margin-right: 7px;
}

.copyright-name > .morrison {
    font-weight: 600;
    color: #848484;
}

.copyright > p {
    color: #818181;
    font-family: sans-serif;
    font-size: 13px;
}

.sites-list-container {
    width: 100%;
    position: relative;
}

.sites-list {
    -webkit-appearance: none;
    background-color: #434343;
    color: #969696;
    padding: 15px;
    font-size: 12px;
    font-weight: 800;
    border: 0;
    width: 100%;
    margin: auto;
    margin-top: 15px;
}

.arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #969696;
    bottom: 0;
    height: 0;
    margin: auto 0;
    position: absolute;
    right: 20px;
    top: 16px;
    width: 0;
}

.header-med {
    position: fixed;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.menu-icon {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 20px;
    bottom: 38px;
}

.menu-icon:hover {
    cursor: pointer;
}

.logo-med {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 20px;
    margin-bottom: 10px;
}

.header-med {
    position: fixed;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.menu-icon {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 20px;
    bottom: 38px;
}

.menu-icon:hover {
    cursor: pointer;
}

.logo-med {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 20px;
    margin-bottom: 10px;
}

/* ------------------------------------------------------------ */    
/* MEDIA QUERIES                                                */
/* ------------------------------------------------------------ */

/* tablets (1024 and down)*/
@media only screen and (max-width: 1024px) {
    
    .header {
        display: none;
    }
    
    .header-blank {
        height: 115px;
    }
    
    .main-content-container {
        padding-left: 100px;
        padding-right: 100px;
        margin: 0 auto;
        max-width: 1220px;
    }
    
    .hero-section {
        flex-direction: column;
        overflow: hidden;
        width: 100%;
    }
    
    .hero-centre {
        width: 100%;
        order: 1;
        padding-right: 0;
        padding-left: 0;
    }
    
    .hero-left {
        width: 100%;
        order: 2;
    }
    
    .hero-right {
        width: 100%;
        order: 3;
        padding-left: 0;
        border: none;
    }
    
    .hero-right-items {
        
        display: flex;
        flex-flow: row wrap;
    }
    
    .hero-right > .main-heading {
        border-bottom: 1px #e5e5e5 solid;
        padding-bottom: 10px;
    } 
    
    .hero-item-small {
        width: 40%;
        margin: 10px;
        padding: 10px;
        border: 0;
    }
    
    .hero-item-wide {
        border-bottom: solid #e5e5e5 1px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
    
    .hero-item-wide > img {
        width: 30%;
        float: right;
        padding: 20px;
        margin-left: 50px;
    }
    
    .hero-item-reg > img {
        width: 30%;
        float: right;
        padding: 20px;
        margin-left: 50px;
    }
    
    .spot-secondary-left {
        width: 100%;
    }
    
    .spot-secondary-items {
        width: 100%;
        display: flex;
        flex-flow: row wrap  !important;
    }
    
    .spot-secondary-item {
        margin: 0  !important;
        padding: 0  !important;
        padding: 10px  !important;
        width: 40%;
        flex-shrink: 0.5;
    }
    
    .ad-tall {
        display: none;
    }
    
    .pop-section {
        flex-direction: column;    
    }
    
    .pop-left {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
    }
    
    .pop-right {
        margin: 0;
        padding: 0;
        border: 0;
        align-content: center;
        width: 100%;
        margin-top: 50px;
    }
    
    .left-button{
        width: 100%;
    }
    
    .right-button{
        width: 100%;
    }
    
    .magazine-ribbon {
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .magazine-item {
        width: 40%;
        padding: 20px;
    }
    
    .footer-content {
        padding: 0;
        width: 90%;
        flex-flow: column;
    }
    
    .footer-links {
        padding: 0;
        width: 100%;
        margin: auto;
    }
    
    .footer-link-item {
        padding-right: 30px;
    }
    
    .footer-link-item > ul {
        display: none;
    }
    
    .footer-links-container {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 50px;
        justify-content: center;
    }
    
    .footer-right {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .copyright {
        width: 40%;
        text-align: center;
        margin: auto;
    }
    
    .copyright > p {
        text-align: left;
    }
    
    .social-links {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .social-links-icons {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .icon {
        margin: 0;
        padding: 20px;
    }
    
    .copyright-name {
        justify-content: center;
    }
    
    .sites-list-container {
        width: 40%;
        margin: auto;
        margin-bottom: 50px;
    }
    
    .footer-ribbon > a {
        display: none;
    }
    
    .ad-wide-centre {
        overflow: hidden;
        width: 90%;
    }
    
    .latest-section {
        width: 100%;
    }
    
    .latest-item > img {
        width: 40%;
        padding-top: 14px;
    }
    
    .sub-banner{
        display: none;
    }
}

/* phones (600px and down) */
@media only screen and (max-width: 600px) {
    
    .header {
        display: none;
    }
    
    .header-blank {
        height: 115px;
    }
    
    .sub-banner {
        display: none;
    }
    
    .ad-wide-centre {
        display: none;
    }
    
    .main-content-container {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
        width: 100% !important;
    }
    
    .hero-section {
        flex-direction: column;
        width: 100%;
    }
    
    .hero-centre {
        width: 100%;
        order: 1;
        padding-right: 0;
        padding-left: 0;
    }
    
    .hero-left {
        width: 100%;
        order: 2;
    }
    
    .hero-right {
        width: 100%;
        order: 3;
        padding-left: 0;
        border: none;
    }
    
    .hero-right-items {
        
        display: flex;
        flex-flow: row wrap;
    }
    
    .hero-right > .main-heading {
        border-bottom: 1px #e5e5e5 solid;
        padding-bottom: 10px;
    } 
    
    .hero-item-small {
        width: 100%;
        margin: 10px;
        padding: 10px;
        border: 0;
    }
    
    .hero-item-wide {
        border-bottom: solid #e5e5e5 1px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
    
    .hero-item-wide > img {
        width: 50%;
        height: 170px;
        float: right;
        padding: 20px;
        margin-left: 50px;
    }
    
    .hero-item-large > img {
        height: 350px;
    }
    
    .hero-item-reg > img {
        width: 100%;
        height: 250px;
        float: right;
        padding: 20px;
        margin-left: 50px;
    }
    
    .spot-secondary-left {
        width: 100%;
    }
    
    .spot-secondary-right {
        width: 100%;
    }
    
    .spot-secondary-items {
        width: 100%;
        display: block;
    }
    
    .spot-secondary-item {
        width: 100%;
        padding: 0;
        margin: 0;
        border-left: 0;
    }
    
    .spot-secondary-item > img {
        height: 100px;
    }
    
    .ad-tall {
        display: none;
    }
    
    .ad-wide-centre-big {
        display: none;
    }
    
    .ad-bottom {
        display: none;
    }
    
    .pop-section {
        flex-direction: column;    
    }
    
    .pop-left {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
    }
    
    .pop-right {
        margin: 0;
        padding: 0;
        border: 0;
        align-content: center;
        width: 100%;
        margin-top: 50px;
    }
    
    .left-button{
        width: 100%;
    }
    
    .right-button{
        width: 100%;
    }
    
    .magazine-ribbon {
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .magazine-item {
        width: 90%;
        padding: 20px;
    }
    
    .footer-content {
        padding: 0;
        width: 90%;
        flex-flow: column;
    }
    
    .footer-links {
        padding: 0;
        width: 100%;
        margin: auto;
    }
    
    .footer-link-item {
        padding-right: 30px;
    }
    
    .footer-link-item > ul {
        display: none;
    }
    
    .footer-links-container {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 50px;
        justify-content: center;
    }
    
    .footer-right {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .copyright {
        width: 90%;
        text-align: center;
        margin: auto;
    }
    
    .copyright > p {
        text-align: left;
    }
    
    .social-links {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .social-links-icons {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .icon {
        margin: 0;
        padding: 20px;
    }
    
    .copyright-name {
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .copyright-name > h4 {
        font-size: 36px;
    }
    
    .sites-list-container {
        width: 70%;
        margin: auto;
        margin-bottom: 50px;
    }
    
    .footer-ribbon > a {
        display: none;
    }
}



